.page {
  background: #fbf9ff;
  border-radius: 25px;
  max-width: 335px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.imageContainer {
  padding: 0 20px;
  text-align: center;

  .image {
    max-width: 100%;
  }
}

.header {
  padding: 30px;
  position: relative;

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }

  .action {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: .3s;

    &:hover {
      opacity: .7;
    }
  }

  .active {
    color: #e81664;
    fill: #e81664;
    animation: pulse 1s ease-out;
  }
}

.decoration {
  width: 535px;
  height: 630px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, rgba(235,234,242,1) 0%, rgba(236,213,229,1) 50%, rgba(237,207,223,1) 100%);
  clip-path: ellipse(50% 50% at 50% 0%);
}

.icon {
  display: block;
}

.content {
  color: #333;
  padding: 40px 15px 50px;

  .title {
    font-size: 1.5em;
    margin-bottom: 15px;
  }

  .subtitle {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 30px;
  }

  .info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
  }

  .info_item {
    font-size: 0.9em;
    color: #555;
  }

  .description {
    font-size: 12px;
    color: #777;
    margin: 0;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;

    .price {
      font-size: 20px;
      font-weight: bold;
      color: #333;
    }
  }

  .button {
    display: block;
    width: 100%;
    background: #445cf4;
    color: #fff;
    border: none;
    border-radius: 16px;
    padding: 14px 0;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;

    &:hover {
      opacity: .8;
    }
  }
}

@keyframes pulse {
  0% {
    stroke-width: 0;
    stroke-opacity: 1;
  }

  50% {
    stroke-width: 6px;
    stroke-opacity: .4;
  }

  100% {
    stroke-width: 2;
    stroke-opacity: 1;
  }
}
